body, html{
    background-color: #FEF2E4;
    font-family: 'Chelsea Market', cursive;
}

.CenteredGrid-root-2 img{
    position: fixed;
}

@media only screen and (max-width: 400px) {
    .collapse:not(.show){
        display: flex;
    }

    .navbar-brand img{
        display: none;
    }

    .navbar-toggler{
        display: none;
    }

    .nav-link{
        float: left;

    }

    .navbar {
        background-color: rgba(240, 248, 255, 0.103);
    }

  }