.navbar{
    position: fixed;
    width: 100%;
    margin-bottom: 8px;
    background-color: #C60000;
    color: #ffc1c1;
    z-index: 50000;
}

img{
    height: 200%;
    margin-left: 0;
    position: absolute;
    border-bottom: 10px;
    border-right: 30px;
    border-left: 30px;
    border-style: double;
    border-color: #C60000;
}